.footer {
    background-color: grey;
    color: white;
    text-align: center;
    padding: 15px;
    position: absolute;
    margin-top: 20px;
    height: 100px;
    width: 100%;
    bottom: 0;
}

.col-xs-2 {
    width: 16.66%;
}

.col-xs-3 {
    width: 25%;
}

.col-xs-6 {
    width: 50%;
}

.col-xs-12 {
    width: 100%;
}